@import url(../../../../styles/global.scss);

.new {
  padding: 40px 0;
  background-color: #fff;
  .nttl {
    display: flex;
    justify-content: center;
    color: var(--iconColor);
    font-family: var(--fontF);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 200px;
    width: 100%;
  }
  .frry {
    width: 1360px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .under {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
    .ft {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 1rem;
        color: #00c9c9;
        transition: all 0.3s ease;
        p {
          font-family: var(--fontF);
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: all 0.3s ease;
        }
        .sv{
          transition: all 0.3s ease;
          fill: #00c9c9;
        }
      }
    }
    .ft:hover {
      p {
        color: #0d4c93;
      }
      .sv{
        fill: #0d4c93;
      }
    }
  }
}

@media (min-width: 930px) and (max-width: 1447px) {
  .new {
    .frry {
      width: 908px;
    }
  }
}

@media (min-width: 450px) and (max-width: 930px) {
  .new {
    .frry {
      width: 450px;
    }
  }
}

@media (max-width: 450px) {
  .new {
    .frry {
      width: 285px;
    }
  }
}

@media (max-width: 679px) {
  .new {
    .under {
      display: none;
    }
  }
}
