@import url(../../../styles/global.scss);

.mySwiper {
  width: 100%;
  height: 100%;
  .swiper-wrapper {
    height: 600px;
    .swiper-slide {
      .card {
        display: flex;
        flex-direction: column;
        width: 378px;
        margin: 0;
        flex-shrink: 0;
        border-radius: 50px;
        background: #fff;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
        .cardimg {
          width: 100%;
          height: auto;
          margin-top: -100px;
          object-fit: cover;
          border-radius: 25px 25px 0 0;
        }
        .ttl {
          color: var(--iconColor);
          font-family: var(--fontf);
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.3px;
          display: flex;
          width: 100%;
          justify-content: center;
          padding: 20px 0 0px 0;
        }
        .prg {
          width: 300px;
          margin: auto;
          margin-top: 20px;
          margin-bottom: 0;
          height: 110px;
          flex-shrink: 0;
          color: #000;
          text-align: center;
          font-family: var(--fontf);
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 24px; /* 150% */
        }
        button {
          padding: 8px 16px;
          width: 270px;
          margin: 0 auto -25px;
          background: var(--background);
        }
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 1230px) {
  .mySwiper {
    .swiper-wrapper {
      .card {
        width: 250px;
        margin: 0 10px;
        height: 380px;
        .cardimg {
          object-fit: cover;
          border-radius: 50px 50px 0 0;
        }
        .ttl {
          font-size: 16px;
          font-weight: 500;
          padding: 30px 0 0 0;
        }
        .prg {
          width: 235px;
          height: auto;
          font-size: 13px;
          font-weight: 300;
        }
        button {
          width: 220px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .mySwiper {
    .swiper-wrapper {
      .card {
        width: 250px;
        margin: 0 10px;
        height: 380px;
        .cardimg {
          object-fit: cover;
          border-radius: 35px 35px 0 0;
        }
        .ttl {
          font-size: 16px;
          font-weight: 500;
          padding: 30px 0 0 0;
        }
        .prg {
          width: 235px;
          height: auto;
          font-size: 13px;
          font-weight: 300;
        }
        button {
          width: 220px;
        }
      }
    }
  }
}
