@import url(../../../../styles/global.scss);

.services {
  background: #fff;
  padding: 50px 0;
  .stitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--iconColor);
    font-family: var(--fontf);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 50px;
  }
  .sitem {
    background-image: url("../../../../assets/images/hospital.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: auto;
    padding: 100px 0;
    .cont {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 1360px;
      margin: auto;
    }
  }
}
@media(max-width:1360px){
  .services{
    .sitem{
      .cont{
        width: 100%;
      }
    }
  }
}


@media (min-width: 820px) and (max-width: 1230px) {
  .services {
    .sitem {
      .cont {
        width: 815px;
        margin: auto;
      }
    }
  }
}

@media (min-width:450px) and (max-width: 820px) {
  .services {
    .sitem {
      .cont {
        width: 410px;
        margin: auto;
      }
    }
  }
}

@media  (max-width: 450px) {
  .services {
    padding: 20px 0;
    .sitem {
      padding: 50px 0;
      .cont {
        width: 285px;
        margin: auto;
      }
    }
  }
}
