@import url(../../styles/global.scss);

// disp dropdown qismi uchun
.disp {
  display: none;
}
// disp dropdown qismi uchun

// input qismi uchun
.nptDisp {
  display: none;
}
// input qismi uchun

// bu dropdownni flag va paragrafi
.flag {
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.drp {
  color: var(--iconColor);
  text-align: center;
  font-family: var(--fontf);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
// bu dropdown qismiga tegishli

.searchOpen {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 50px;
  width: 399px;
  animation: inp 2s backwards;
  .selected {
    background-color: var(--iconColor);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    svg {
      width: 25px;
      height: 25px;
      flex-shrink: 0;
      color: #fff;
    }
  }
  .npt {
    border: none;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 10px 15px 18px;
    animation: inpDiv 2.8s forwards;
  }
}

@keyframes inp {
  from {
    width: 35px;
  }
  to {
    width: 399px;
  }
}

@keyframes inp2 {
  from {
    width: 35px;
  }
  to {
    width: 95%;
  }
}

.nptDisp2 {
  display: none;
}

@media (max-width: 1024px) {
  .nptDisp2 {
    display: flex;
    .dropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #fff;
      border-radius: var(--borderRadius);
      padding: 8px;
      gap: 5px;
      svg {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        color: var(--iconColor);
      }
    }
    .dropdownitems {
      position: absolute;
      margin: 15px 0;
      background: #fff;
      border-radius: var(--borderRadius);
      padding: 15px 0;
      box-shadow: 0px 0px 3px 0.8px #a19f9f;
      div {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        padding: 8px;
        P {
          font-size: 14px;
        }
      }
    }
  }
  .searchOpen {
    animation: none;
    width: auto;
    .npt {
      position: absolute;
      animation: inp2 2.8s forwards;
      overflow: hidden;
      margin-top: 130px;
      left: 10px;
      right: 10px;
    }
    .npt:focus {
      width: 100%;
    }
  }
}

@keyframes inpDiv {
  from {
    width: 35px;
  }
  to {
    width: 340px;
  }
}

nav {
  width: 100%;
  background-image: url(../../assets/images/hospital.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1360px;
  margin: auto;
  padding: 20px 0;
}

// logoni chap tarafi

.first {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: auto;
  .icon1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    button {
      background-color: #fff;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 8px;
      svg {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        color: var(--iconColor);
      }
    }
    p {
      width: 180px;
      color: #5a5a5a;
      font-family: var(--fontf);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.4px;
    }
  }
  .icon2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
    button {
      background-color: #fff;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 8px;
      svg {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        color: var(--iconColor);
      }
    }
    p {
      width: 180px;
      color: #5a5a5a;
      font-family: var(--fontf);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.4px;
    }
  }
}
// logoni chap taraf qismi tugashi

.logo {
  width: 200px;
  height: 58px;
  flex-shrink: 0;
  object-fit: cover;
  margin-left: -20px;
}

// logono o`ng taraf qismi
.addition {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  width: 30%;
  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    .btn {
      background-color: #fff;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 8px;
      svg {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        color: var(--iconColor);
      }
    }
  }
  .face {
    button {
      border: none;
      padding: 8px;
      display: flex;
      align-items: center;
      border-radius: var(--borderRadius);
      color: var(--iconColor);
      text-align: center;
      font-family: var(--fontf);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: #fff;
      svg {
        width: 22px;
        height: 22px;
        flex-shrink: 0;
        margin: 0 10px;
      }
    }
  }
  .translater {
    .dropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #fff;
      border-radius: var(--borderRadius);
      padding: 8px;
      gap: 5px;
      svg {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        color: var(--iconColor);
      }
    }
    .dropdownitems {
      position: absolute;
      margin: 15px 0;
      background: #fff;
      border-radius: var(--borderRadius);
      padding: 15px 0;
      box-shadow: 0px 0px 3px 0.8px #a19f9f;
      div {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        padding: 8px;
        P {
          font-size: 14px;
        }
      }
    }
  }
}

.second {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    background: #fff;
    border-radius: var(--borderRadius);
    gap: 2rem;

    li {
      padding: 8px 20px;
      border-left: 1px solid #f2f2f2;
      color: #0d4c93;
      font-family: var(--fontf);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
    }
    li:nth-child(1) {
      border: none;
    }
    li:hover {
      color: #00c9c9;
    }
    .active {
      color: #00c9c9;
      font-family: var(--fontf);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.bckg2 {
  .scr {
    background: #fff;
    border-radius: 50%;
    padding: 8px;
    display: none;
    align-items: center;
    justify-content: center;
    svg {
      font-size: 22px;
      color: var(--iconColor);
    }
  }
}

@media (max-width: 1024px) {
  .icon {
    position: absolute;
    margin: 0 0 0 40%;
    .icon1 {
      p {
        display: none;
      }
    }
    .icon2 {
      p {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1360px) {
  nav {
    .nav {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  nav {
    .nav {
      width: 100%;
      .first {
        gap: 0;
        .icon {
          gap: 0;
          .icon1 {
            gap: 5px;
          }
          .icon2 {
            gap: 5px;
          }
        }
        .addition {
          gap: 5px;
        }
      }
      .second {
        ul {
          gap: 0;
          li {
            padding: 8px 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  nav {
    .nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      .bckg2 {
        width: 40px;
        margin: 0 1rem;
        .scr {
          display: flex;
        }
      }
      .bckg {
        position: absolute;
        width: 100%;
        height: 1000px;
        background: rgba(255, 255, 255, 0);
        top: 0;
        right: 0;
        .scr {
          background: #fff;
          border-radius: 50%;
          padding: 8px;
          display: flex;
          width: 40px;
          height: 40px;
          float: right;
          align-items: center;
          justify-content: center;
          top: 0;
          left: 0;
          svg {
            font-size: 22px;
            color: var(--iconColor);
          }
        }
      }
      .first {
        .addition {
          .nptDisp {
            display: none;
          }
          .face {
            display: none;
          }
        }
      }
      .second {
        width: auto;
        height: auto;
        ul {
          display: none;
        }
        align-items: center;
        justify-content: center;
        .menu {
          display: flex;
          flex-direction: column;
          align-items: end;
          list-style-type: none;
          background: #fff;
          border-radius: 25px;
          box-shadow: 0px 0px 5px #a19f9f;
          gap: 0;
          position: absolute;
          top: 0;
          right: 10px;
          margin-top: 50px;
          width: 300px;
          height: auto;
          z-index: 1000;
          li {
            padding: 15px 30px;
            border: none;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  ul {
    display: none;
  }
  nav {
    .nav {
      justify-content: center;
      .first {
        width: 85%;
        justify-content: space-between;
        .addition {
          gap: 10px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    .nav {
      .bckg2 {
        margin-right: 20px;
        margin-left: -1%;
      }
    }
  }
}

@media (min-width: 508px) and (max-width: 768px) {
  nav {
    .nav {
      .first {
        width: 100%;
        margin: 0 0 0 28px;
        justify-content: space-between;
        .icon {
          margin: 0 0 0 37%;
          gap: 3px;
        }
        .addition {
          gap: 10px;
        }
      }
    }
  }
}

@media (max-width: 508px) {
  .first {
    justify-content: space-between;
    .icon {
      margin: 0 0 0 45%;
      .icon1 {
        display: none;
      }
    }
    .addition {
      position: absolute;
      margin: 0 0 0 57%;
      .search {
        display: none;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 508px) {
  nav {
    .nav {
      .bckg2 {
        margin: 0 0.5rem 0 0;
      }
      justify-content: flex-start;
      .first {
        width: 100%;
        margin-left: 0rem;
        justify-content: start;
        gap: 60px;
        .logo {
          scale: 75%;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  nav {
    .nav {
      .bckg2 {
        margin: 0 0.5rem 0 0;
      }
      justify-content: flex-start;
      .first {
        width: 100%;
        margin-left: -0.8rem;
        justify-content: start;
        .icon {
          margin: 0 0 0 50%;
        }
        .addition {
          margin: 0 0 0 67%;
          gap: 5px;
        }
        .logo {
          scale: 60%;
        }
      }
    }
  }
}
